.country {
  padding-top: 48px;
  min-height: 100vh;
}

.return-btn {
  margin-bottom: 90px;
  padding: 10px 32px 10px 29px;

  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #111517;

  background-color: #ffffff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
  border: 0;
}

.countryBox {
  display: flex;
  align-items: center;
}

.countryBox > img {
  background-color: #808080;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
  border-radius: 10px;
}

.img-flag {
  width: 560px;
  height: 401px;
  margin-right: 120px;
}

.info__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #111517;
}

.info__list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info__item:nth-child(1) {
  margin-right: 140px;
}

.info__item > strong {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #111517;

  span {
    font-weight: 300;
  }
}

.dark {
  .country {
    background-color: #202c36;
  }

  .return-btn {
    background-color: #2b3844;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    color: #ffffff;
  }

  svg {
    fill: #ffffff;
  }

  .info__title,
  .info__item > strong {
    color: #ffffff;
  }
}

.loader-box {
  display: flex;
  justify-content: center;
}

.border-country {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #808080;
  border-radius: 8px;
}

.border-country + .border-country {
  margin-left: 20px;
}

.borders-title {
  display: inline-block;
  margin-right: 20px;
}

@media only screen and (max-width: 576px) {
  .countryBox {
    flex-direction: column;
  }

  .img-flag {
    width: 320px;
    height: 229px;
    margin-right: 0;
    margin-bottom: 44px;
  }

  .info__list {
    flex-direction: column;
  }
}
